body
{
    background-image:url("C:\Users\Duggisetty_Laptop\Desktop\WT term work\bg.webp");
	background-repeat:space;
	background-attachment:fixed;
	background-position:center-right;
    background-size:1400px;
}